<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}"
>
<section layout:fragment="content" class="content">
  <form class="readBook_write" method="post">
    <fieldset>
      <legend>WRITE</legend>
      <input type="hidden"
             th:name="*{_csrf.parameterName}"
             th:value="*{_csrf.token}"/>
      <div class="input">
        <input name="isbn" placeholder="ISBN"/>
        <input name="title" placeholder="BOOK TITLE"/>
      </div>
      <div class="input">
        <input name="author" placeholder="AUTHOR"/>
        <input name="comp" placeholder="COMPANY"/>
      </div>
      <div class="input">
        <label>DATE</label><input name="sDate" type="date"/>
        <label>START</label><input name="sTime" type="time"/>
        <label>END</label><input name="eTime" type="time"/>
      </div>
      <div class="input" >
        <input name="subject" placeholder="A book that is shut is but a block.."/>
      </div>
      <div class="input" >
        <input name="content" placeholder="Please enter your content"/>
      </div>
      <div class="input btn_box right">
        <button type="submit" class="save">SAVE</button>
        <button type="reset" class="reset">RESET</button>
      </div>
    </fieldset>
  </form>
</section>
</html>