<header th:fragment="headerFragment">
    <h1>READ BOOK</h1>
    <p>Live always in the best company when you read</p>
</header>

<nav th:fragment="navFragment">
    <script th:src="@{/static/js/nav.js}"></script>
    <ul class="main_menu">
        <li class="home">HOME</li>
        <li class="write">WRITE</li>
        <li class="login">LOGIN</li>
        <li class="join">JOIN</li>
    </ul>
</nav>

<footer th:fragment="footerFragment">
    <address>CopyRight &copy; crash2@naver.com</address>
</footer>