* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #1c222e;
}

header, nav, section.main {
    display: flex;
}

header {
    padding: 2rem;
    color: #fb667a;
    justify-content: center;
    align-items: center;
}

nav {
    border: 1px solid #1f2739;
    padding: 0.6rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #4dc3fa;
}

nav input {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    width: 30%;
}

section.main {
    flex: 1;
}

footer {
    color: white;
    text-align: center;
    padding: 0.7rem;
}